/*RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

figure img {
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* COLOR PALETTE */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --light: #FFFFFF;
}

/* BASE LAYOUT */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-md {
    max-width: 1050px;
    margin: 0 auto;
}

.container-sm {
    max-width: 880px;
    margin: 0 auto;
}

main [class^="container"] {
    padding: 60px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.col-sm-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-sm-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-sm-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-sm-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* UTILITY */

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* COMPONENTS */

.button {
    display: block;
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
    white-space: nowrap;
}

.btn-blue {
    background-color: var(--blue);
    color: white;
    padding: 0 20px;
}

/* HEADER */

.page-header {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
}

.navbar-menu {
    display: none;
    gap: 22px;
    align-items: center;
}

.navbar-menu a {
    line-height: 40px;
    display: block;
}

.header-logo {
    display: block;
}

.burger-menu {
    font-size: 24px;
}

/* HERO */

.hero .row {
    row-gap: 24px;
}

.hero [class^="col"] {
    padding: 0 12px;
}

.hero-card {
    background-color: var(--light-blue);
    border-radius: 20px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hero-card__contents {
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-card .hero-card__contents,
.hero-card__img {
    align-items: flex-start;
    flex-basis: 100%;
}

.hero-card__img {
    padding-top: 0px;
    display: flex;
    align-items: flex-end;
}

.hero-card h3,
.hero-card i {
    color: var(--blue);
}

.hero-card i {
    font-size: 5rem;
}

.main-card i {
    color: white;
    font-size: initial;
    padding-right: 8px;
}

.hero-card p {
    line-height: 2rem;
    color: #505050;
    font-weight: 600;
}

/* PLANNING */

.planning  [class^="col-"] {
    padding: 0 30px;
    display: flex;
    align-items: flex-end;
} 

.planning .row {
    row-gap: 32px;
}

.planning {
    background-color: var(--purple);
}

.planning-card {
    display: flex;
    flex-direction: column;
}

.planning-card.dark {
    color: white;
    gap: 50px;
}

.planning-card.dark img {
    padding-block: 40px 40px;
}


.planning-card.light {
    background-color: white;
    border-radius: 50px;
    padding: 20px 40px;
    align-items: center;
    gap: 20px;
}

.planning-card.light p {
    font-style: oblique;
}

.planning h2 {
    font-size: 28px;
}

.planning p {
    font-size: 14px;
    line-height: 1.8rem;

}

.planning .arrow {
    background-color: var(--purple);
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    .col-md-4 {
        flex-basis: calc((100% / 12) * 4);
    }

    .col-md-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .col-md-8 {
        flex-basis: calc((100% / 12) * 8);
    }

    .col-md-12 {
        flex-basis: calc((100% / 12) * 12);
    }

    .hero-card__img {
        flex-basis: 70%;
    }

    .planning-card.light img {
        width: 90%;
    }

    .planning h2 {
        font-size: 36px;
    }

    .planning-card.dark img {
        padding-block: 40px 80px;
    }


}

@media screen and (min-width: 768px) {
    .col-lg-4 {
        flex-basis: calc((100% / 12) * 4);
    }

    .col-lg-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .col-lg-8 {
        flex-basis: calc((100% / 12) * 8);
    }

    .col-lg-12 {
        flex-basis: calc((100% / 12) * 12);
    }

    .navbar-menu {
        display: flex;
    }

    .burger-menu {
        display: none;
    }

    .main-card .hero-card__contents,
    .hero-card__img {
        flex-basis: 50%;
    }

    .hero-card__contents {
        padding: 40px 30px;
    }

    .hero-card__img {
        padding-top: 40px;
    }
    
    .planning h2 {
        font-size: 32px;
    }
}




/* DEBUG */

.debug [class^="container"] {
    border: 2px solid rgb(91, 238, 91);
    padding: 5px;
}

.debug .row {
    border: 2px solid rgb(252, 156, 252);
    padding: 5px;
}

.debug [class^="col"] {
    border: 2px solid rgb(255, 215, 140);
    padding: 5px;
}

.debug .hero-card__contents {
    border: 2px solid red;
}

/* .debug {
    background-color: #272d47;
}

@media screen and (min-width: 576px) {
    .debug {
        background-color: rgb(43, 63, 17);
    }
}

@media screen and (min-width: 768px) {
    .debug {
        background-color: rgb(60, 46, 80);
    }
} */